header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  border-bottom: 1px solid $header-bottom-border;
  background-color: transparent;
  z-index: 100;

  .mobile-header{
    display: none;
    background-color: $header-bg;
    height: 99px;
  }

  &.mobile-header-active{
    .header{
      display: none;
    }

    .mobile-header{
      display: block;
    }


    .mobile-header{
      &__list{
        margin: 0;
        padding: 0;
        position: absolute;
        top: 100px;
        width: 100%;
        background-color: $header-bg;
      }

      li{
        list-style: none;

        a{
          padding: 20px 0;
          text-decoration: none;
          display: inline-block;
          width: 100%;
          text-align: center;
          color: $white;
          &:hover{
            font-weight: bold;
          }
        }

      }
    }
  }


  &.scrolled{
    background: $header-bg;
  }


  .header {

    &__list{
      display: flex;
      max-width: $container-width;
      height: 100px;
      list-style-type: none;
      margin: 0 auto;
      padding: 0;
      justify-content: flex-end;

      li{

        &:hover{
          border-bottom: 2px solid $white;
        }

        a {
          text-decoration: none;
          color: $white;
          font-weight: 500;
          line-height: 1.25;
          padding-left: 20px;
          padding-right: 20px;
          display: flex;
          align-items: center;
          height: 100%;
        }
      }
    }
  }
}



.mobile-header{
  .menu-btn{
    text-transform: uppercase;
    color: $white;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0, -50%);
    padding: 30px;
    cursor: pointer;
    font-weight: bold;
  }

  &__list{
    height: 0;
    transition: ease-out 0.5s;
    overflow: hidden;

    &.open{
      height: 295px;
      transition: ease-in 0.5s;
    }
  }
}